#frame {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#slide1 {
    background-image: url(./2010_chevy_hhr/IMG_0333.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide2 {
    background-image: url(./2010_chevy_hhr/IMG_0334.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide3 {
    background-image: url(./2010_chevy_hhr/IMG_0335.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide4 {
    background-image: url(./2010_chevy_hhr/IMG_0337.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide5 {
    background-image: url(./2010_chevy_hhr/IMG_0338.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide6 {
    background-image: url(./2010_chevy_hhr/IMG_0339.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide7 {
    background-image: url(./2010_chevy_hhr/IMG_0340.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide8 {
    background-image: url(./2010_chevy_hhr/IMG_0369.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#slide9 {
    background-image: url(./2010_chevy_hhr/IMG_0370.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.left {
    width: 20%;
    height: 100%;
    z-index: 1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}
.left:hover {
    color: greenyellow;
}
.right {
    width: 20%;
    height: 100%;
    z-index: 1;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}
.right:hover {
    color: greenyellow;
}
.top {
    width: 100%;
    height: 20%;
    z-index: 2;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}
.top:hover {
    color: greenyellow;
}
#thumbnails {
    width: 100%;
    height: 20%;
    display: flexbox;
    flex-direction: row;
    overflow-x: scroll;
}
#thumbnail1 {
    background-image: url(./2010_chevy_hhr/IMG_0333.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail2 {
    background-image: url(./2010_chevy_hhr/IMG_0334.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail3 {
    background-image: url(./2010_chevy_hhr/IMG_0335.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail4 {
    background-image: url(./2010_chevy_hhr/IMG_0337.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail5 {
    background-image: url(./2010_chevy_hhr/IMG_0338.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail6 {
    background-image: url(./2010_chevy_hhr/IMG_0339.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail7 {
    background-image: url(./2010_chevy_hhr/IMG_0340.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail8 {
    background-image: url(./2010_chevy_hhr/IMG_0369.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#thumbnail9 {
    background-image: url(./2010_chevy_hhr/IMG_0370.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    float: left;
}
#return {
    background-color: #777777;
    color: greenyellow;
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}